.menu
{
	--menu_all_font_family: var(--conger_font_family);
	--menu_all_font_weight: var(--conger_ui_font_weight);
	--menu_block_item_color: var(--conger_ui_color);
}

.menu ul li.submenu::before {
	background:var(--conger_color_background_els)
}
body{
	margin:0;
	padding:0;
	font-family: var(--conger_font_family);
}
.site{
	--color1:#022d3d;
	--color2:red;
	--color2_1:#ff0000d9;
}

.site {
	display: flex;
	position: relative;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
}
header {
	display: block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: var(--aqualine_bg_img);
	background-attachment: fixed;
	background-position: top;
	background-position-y: bottom;
	font-family: var(--conger_font_family);
	font-weight: var(--conger_ui_font_weight);
	font-size: var(--conger_ui_font_size);
}
.header::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--aqualine_bg_color);
	z-index: -1;
	border: inherit;
	opacity: var(--conger_header_before_opacity);
}
.header {
	position: relative;
	width: auto;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s;
	padding: 1rem;
	font-size: 1rem;
	color: #64361b;
	text-shadow: 1px 1px 1px #ffffff47;
}

.header .logo {
	height: 50px;
	display: flex;
	align-items: center;
}
.header .logo {
	justify-content: center;
	height: fit-content;
}
.header .logo .img_link
{
	opacity: 0.5;
	transition: opacity 0.3s;
}
.header .logo .img_link:hover
{
	opacity: 1;
	transition: opacity 0.3s;
}
.header .logo > div {
	padding-right: calc( var(--conger_space) *2 );
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.header .logo > div * {
	display: inline;
	margin: 0 0 0.2rem 0.4rem;
}
.header .logo img {
	display: block;
	width: 150px;
	height: 50px;
	object-fit: cover;
}
.header .menu {
	font-size: 0.9rem;
}
.header .menu ul li.current {
	background-color: transparent;
	border-bottom-style: solid;
	border-bottom-color: #ffffffd6;
	border-bottom-width: 1px;
	background-image: linear-gradient(to bottom,#fff0 60%, #ffffff21 100%);
}
.header .menu > ul > li:hover
{
	background-color: #f9c0544f;

}
.header .menu > ul > li.current:hover
{
	background-color: #f9c0544f;
}
.header .menu ul li.current:hover {
	background-image: linear-gradient(to bottom,#fff0 60%, #ffffff14 100%);
}
.header .menu > ul > li {
	color: #64361b;
	text-shadow: 1px 1px 1px #ffffff47;
}
.header .menu > ul > li:hover {
	color: #64361b;
	text-shadow: 1px 1px 1px #ffffff47;
}
.header .menu > ul > li:hover > ul > li {
	color: #fff;
	text-shadow: 0px 0px 1px #755c2e;
}
.header .menu > ul > li:hover > ul > li.current {
	color: #4f2a15;
	text-shadow: 0px 0px 1px #b09054;
}
.header .menu ul li:hover ul li.current:hover {
	background: #dba13396;
	color: white;
	text-shadow: 0 0 1px #60453a;
}
.header .menu ul li:hover > ul > li:last-child {
	margin-bottom: calc(var(--menu_blocksub_space)*1.4);
}
.header .menu ul li.submenu::before {
	background: transparent;
	content: "↓";
	font-size: 0.7rem;
	left: 0.35rem;
	webkit-mask: none;
	mask: none;
	color: #59382657;
	text-shadow: 1px 1px 1px #ffffff4d;
	transition: 200ms color;
}
.header .menu ul li.submenu:hover::before {
	color: transparent;
	text-shadow: none;
}

header .wr {
	display: block;
	position: relative;
	z-index: 0;
	min-height: 1px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(1px 1px 7px #00000024);
	background-image: var(--aqualine_bg_img);
	background-attachment: fixed;
	word-wrap: anywhere;
	border-bottom: 1px solid #9dae7700;
}
header .wr::before {
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	opacity: var(--aqualine_overlay_opacity);
	z-index: -1;
	background: #f7f3da;
}
header .breadcrumbs {
	--breadcrumbs_font_size: calc( var(--conger_ui_font_size) / 1.2 );
}
header .breadcrumbs * {
	font-size:var(--breadcrumbs_font_size);
	line-height:var(--breadcrumbs_font_size);
	padding:0;
	margin:0;
	text-decoration:none;
	color: var(--conger_ui_color);
}
header .breadcrumbs a:hover {
	color: #c4620c;
}
header .breadcrumbs{
	min-height:var(--breadcrumbs_font_size);
	display:flex;
	background:orange;
	/*https://www.colorzilla.com/gradient-editor/*/
	background: -webkit-linear-gradient(to bottom, rgba(5, 5, 5, 0.04) 0%,rgba(0, 0, 0, 0.31) 4%,rgba(3,3,3,0.21) 6%,rgba(0,0,0,0.16) 12%,rgba(0,0,0,0.07) 22%);
	background: linear-gradient(to bottom, rgba(5, 5, 5, 0.04) 0%,rgba(0, 0, 0, 0.31) 4%,rgba(3,3,3,0.21) 6%,rgba(0,0,0,0.16) 12%,rgba(0,0,0,0.07) 22%);
	padding-top:var(--conger_ui_space);
	padding-bottom:var(--conger_ui_space);
	padding-left:calc( var(--conger_ui_space) *4 );
	padding-right:calc( var(--conger_ui_space) *4 );
}
.cbody {
	margin-top:0.5rem;
	display: flex;
	box-sizing: border-box;
	flex-wrap: nowrap;
	flex-wrap: wrap;
}

.b_main {
	box-sizing: border-box;
	display: block;
/*
	border: 2px dotted green;
*/
	margin-left: var(--conger_space);
	margin-right: var(--conger_space);
	flex-grow: 1;
	flex-basis: 55%;
}
.cbs_left {
	box-sizing: border-box;
	display: block;
/*
	border: 2px dotted red;
*/
	margin-left: var(--conger_space);
	height: 50%;
}
.cbs_right {
	box-sizing: border-box;
	display: block;
/*
	border: 2px dotted orange;
*/
	height: 50%;
	margin-right: var(--conger_space);
}
.section1 {
	padding-bottom: 1rem;
	padding-top: 1rem;
	display: flex;
	align-items: stretch;
	margin: 2rem 0 2rem 0;
	justify-content: space-around;
	flex-wrap: wrap;
}
.text_left {
	padding: 1rem;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 70%;
	max-width: 70%;
	position: relative;
	width: 100%;
	min-height: 1px;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.text_left h1 {
	color: var(--color1);
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.text_left .sub_h1 {
	color: var(--color2);
	font-weight: bold;
	display: block;
}
.text_left p {
	margin: 0.2rem;
	padding: 0;
	text-align: left;
}
.text_left .text_more {
	text-align: center;
	padding: 1rem 0 0.5rem 0;
}
.parallax {
	background-image: url(../images/section/img_wide.jpg);
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-bottom: 4rem;
	padding-top: 4rem;
	background-color: var(--color1);
}

.parallax h1 {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.parallax .sub_h1 {
	color: var(--color2);
	font-weight: bold;
	display: block;
}
.bordered90 {
	filter: drop-shadow(1px 1px 7px #00000036);
	border-radius: 10px;
	border: 1px solid #0d0d0d1f;
	background-image: linear-gradient(170deg, #0202020f 20%, #fff);
	width: 90%;
	margin-left: 5%;
}
.rounded {
	filter: drop-shadow(1px 1px 7px #00000036);
	border-radius: 10px;
	border: 1px solid #0d0d0d1f;
	background-image: linear-gradient(170deg, #0202020f 20%, #fff);
}
.block1 *{
	line-height:normal;
	padding:0;margin:0;
	box-sizing:border-box;
	list-style-position: inside;
}
.block1 {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 1%;
	filter: drop-shadow(1px 1px 7px #00000024);
	border-radius: 10px;
	border: 1px solid #0d0d0d1f;
	background-image: linear-gradient(170deg, #0202020f 20%, #fff);
	padding: 1rem 0 0 0;
}
.flexc {
	min-height: 80vh;
}
/* .block_main */
.flexc > .block_main {
	position: relative;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	filter: none;
	border-radius: var(--conger_border_radius);
	border-width: 0px;
	border-style: solid;
	border-color: var(--conger_border_color);
	/* background-image: linear-gradient(170deg, #0202020f 20%, #fff); */
	background-image: none;
}
/* .block_side */
.flexc > .block_side {
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(1px 1px 7px #00000024);
	border-radius: 3px;
	border-width: var(--conger_border_width);
	border-style: solid;
	border-color: var(--aqualine_border_color);
	background-image: var(--aqualine_bg_img);
	background-attachment: fixed;
	word-wrap: anywhere;
	padding: 1rem;
	margin: 2rem 0 2rem 0;
}
.flexc > .block_side::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: calc( 0px - var(--conger_border_width));
	top: calc( 0px - var(--conger_border_width));
	background-color: var(--aqualine_bg_color);
	z-index: -1;
	border: inherit;
	border-radius: inherit;
	opacity: var(--aqualine_overlay_opacity);
}
.pic_zoom {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	border-radius: 10px;
	width: 300px;
	height: 178px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e1dfdf;
	margin-top: 0;
	border: 1px solid #cecece;
	align-self: center;
}
.pic_portrait {
	height: 300px;
	filter: drop-shadow(0px 1px 2px #0000006b);
}
.pic_zoom img {
	box-sizing: border-box;
	width: 100%;
	transition: all 0.6s;
	vertical-align: middle;
	border-style: none;
	object-fit: cover;
}
.pic_zoom img:hover {
	transform: scale(1.1);
}
.block1 .text {
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
}
.block1 .text h1 {
	margin-bottom: 13px;
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.block1 .text p {
	text-align: left;
}
.text_more {
	font-weight: 400;
	font-size: 12px;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: center;
	display: flex;
	margin: 0rem 0rem 1rem 0rem;
	flex-grow: 1;
	align-items: end;
}
.text_more a {
	color: #222222;
	text-decoration: none;
}
.text_more a:hover {
  text-decoration: none;
  color: var(--color2);
}

footer {
	display: block;
	position: relative;
	bottom: 0;
	margin: 0;
	padding: 0;
	line-height: normal;
	width: 100%;
	--footer_fsize: calc( var(--aqualine_page_text_size) *0.7 );
	font-size: var(--footer_fsize);
}

.footer *{
	color:#c6c6c6;
	text-decoration:none;
}
.footer {
	display: flex;
	flex-direction: row;
	background-color: #021c26;
	margin: 0 0 0 0;
	padding: 1rem;
	justify-content: space-around;
}
.footer_item {
	color: #c6c6c6;
	border: 0px solid red;
	margin: 1rem;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
	font-weight: bold;
	font-size: calc( var(--footer_fsize) * 1.2);
}
.footer_item ul {
	font-weight: normal;
	margin-left: 0.5rem;
	list-style-type: none;
	padding: 0;
}
.footer_item li {
	margin:0 0 0.3rem 0;
}
.footer_last {
	display: flex;
	background-color: #03161e;
	padding: 1rem;
	justify-content: center;
	color: #c6c6c6;
}
.footer_last a{
	color: #c6c6c6;
	text-decoration:none;
}
.footer_last a:hover{
	color: var(--color2);
}
#to_top {
	display: none;
	position: fixed;
	width: 32px;
	height: 32px;
	top: 10%;
	right: 20px;
	z-index: 100;
	opacity: 0.4;
	background-color: var(--conger_color_background);
	mask-size: contain;
	mask-image: url(../images/icons/to_top.svg);
	mask-repeat: no-repeat;
	/* google chrome */
	-webkit-mask-size: contain;
	-webkit-mask-image: url(../images/icons/to_top.svg);
	-webkit-mask-repeat: no-repeat;
}
#to_top:hover {
	opacity: 1;
}
.display_block
{
	display:block!important;
}
@media screen and (max-width: 640px)
{
	.header
	{
		flex-wrap: wrap;
	}
	.header .logo:first-child
	{
		margin-bottom: var(--conger_ui_space);
	}
	.header .logo
	{
		width: 100%;
		display: flex;
		flex-grow: 1;
		justify-content: center;
	}
	.header .menu
	{
		padding-top:1rem;;
	}
	.flexc > .block_side
	{
		margin: 0.2rem;
	}
}
/* block_main styles */
.block_main *
{
	line-height:normal;
}
.block_main
{
	font-size: var(--aqualine_page_text_size);
}
.block_main code {
	color: #516820;
	background: #0000000f;
	padding: calc( var(--aqualine_page_text_size) *0.2);
	border: 1px solid;
	border-radius: 3px;
	font-size: calc( var(--aqualine_page_text_size) *0.8);
	border-color: var(--aqualine_border_color);
}
.block_main a
{
	color: #9b572e;
}
.block_main a:hover
{
	color: #bb6e36;
}
.block_main li::before
{
	content: "•";
	color: var(--conger_color_link);
	display: inline-block; 
	width: var(--conger_space);
	padding-right: calc( var(--conger_space) * 1.1 );
}
.block_main ul, .block_main p
{
	margin-top:var(--conger_space);
	margin-bottom:var(--conger_space);
}
.block_main img {
	background-image: url(../images/decors/img_bg.png);
	background-color: var(--aqualine_bg_color);
	object-fit: contain;
	transition: all 0.1s;
	padding: var(--conger_space);
	border-radius: var(--conger_border_radius);
	width: 15rem;
	height: 10rem;
	display: block;
	margin: 0 auto;
}
.block_main img:hover {
	background-color: #daecb1;
}

.block_main h1:first-child, .block_main h2:first-child,
.block_main h3:first-child, .block_main h4:first-child, 
.block_main h5:first-child, .block_main h6:first-child
{
	margin-top: 0;
}

.block_main h1, .block_main h2, .block_main h3, .block_main h4, 
.block_main h5, .block_main h6
{
	font-weight: calc( var(--conger_font_weight) + 100 );
	color: var(--aqualine_page_header_color);
	margin-top: calc( var(--conger_space) * 3 );
	margin-bottom: var(--conger_space);
	text-shadow: var(--aqualine_page_header_tshad);
}
.block_main h6
{
	font-size: calc( var(--aqualine_page_text_size) * 1.12);
}
.block_main h5
{
	font-size: calc( var(--aqualine_page_text_size) * 1.13);
}
.block_main h4
{
	font-size: calc( var(--aqualine_page_text_size) * 1.14);
}
.block_main h3
{
	font-size: calc( var(--aqualine_page_text_size) * 1.15);
}
.block_main h2
{
	font-size: calc( var(--aqualine_page_text_size) * 1.20);
}
.block_main h1
{
	font-size: calc( var(--aqualine_page_text_size) *1.25 );
}
.flexc > .block_main {
	color: var(--aqualine_page_text_color);
	padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}
/* end block_main styles */
/* block_side styles */
.block_side *{
	line-height: normal;
}
.block_side  {
	font-size: var(--font_size);
	color: var(--conger_ui_color);
	--font_size: 0.7rem;
}
.block_side ul, .block_side ol, .block_side p
{
}
.block_side ul, .block_side ol, .block_side p
{
	line-height: normal;
	margin:calc( var(--conger_ui_space) *3) 0.2rem var(--conger_ui_space) 0.2rem ;
}
.block_side ul > li > ul, .block_side ol > li > ol {
	line-height: normal;
	margin-left: calc( var(--conger_ui_space) *2.5);
	margin-top: 0.2rem;
}
.block_side ul li {
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}
.block_side ul li::before {
	content: "➤";
	display: inline-block;
	width: 1em;
	margin-left: -0.7rem;
	margin-right: 0.2rem;
	font-size: 0.6rem;
	color: #c87022;
	font-weight: normal;
	text-shadow: 0px 0px 1px #ffa15c5e;
}
.block_side * a {
	color: #ca6b07;
	text-shadow: 0px 0px 2px #ffffff73;
}
.block_side * a:hover {
	color: #d26c00;
	text-shadow: 0px 0px 2px white;
}
.block_side h1, .block_side h2, .block_side h3, .block_side h4, .block_side h5, .block_side h6 {
	color: #733e06;
	font-weight: normal;
	text-shadow: 0px 0px 1px #fdfdfd;
}
.block_side h6
{
	font-size: calc( var(--font_size) * 1.12);
}
.block_side h5
{
	font-size: calc( var(--font_size) * 1.13);
}
.block_side h4
{
	font-size: calc( var(--font_size) * 1.14);
}
.block_side h3
{
	font-size: calc( var(--font_size) * 1.15);
}
.block_side h2
{
	font-size: calc( var(--font_size) * 1.20);
}
.block_side h1
{
	font-size: calc( var(--font_size) *1.25 );
}
/* end block_side styles */
