:root {
	--color_main: #4f4ba9;
	--color_main_tr: #4f4ba9;
	--color_main_d: #45419b;
	--color_main_d_tr: #45419b9c;
	--color_main_l: #5f5bbf;
	--color_main_l_tr: #5f5bbfa6;
	--color_content: #2d2d2d;
	--con_h_pad: 2rem 0 0.8rem 0;
	--con_pad: 0.8rem 0 1.4rem 0;
	--con_h_mar: 0rem 0 0rem 0;
	--con_mar: 0rem 0 0rem 0;
	--font_fam_main: 'Yanone Kaffeesatz', arial, sans-serif;
	--font_size_p: 0.8rem;
	--conger_border_color: #0d0d0d1f;
	--conger_border_radius: 0.4rem;
	--conger_border_width: 1px;
	--conger_color_text: black;
	--conger_color: black;
	--conger_color_hover: #fb1b04;
	--conger_color_link: #ff6c00;
	--conger_color_header: #ff6c00;
	--conger_font_family: 'Roboto Flex', sans-serif;
	--conger_font_size: 1rem;
	--conger_font_weight: 200;
	--conger_color_background: #ebb743;
	--conger_color_background_darker: #db9905;
	--conger_color_background_hover: #ffb819;
	--conger_color_background_els: #ffb8199c;
	--conger_opacity: 0.91;
	--conger_header_before_opacity: 0.91;
	--conger_space: 0.5rem;
	--conger_ui_border_radius: calc( var(--conger_border_radius) / 1.6 );
	--conger_ui_color: #684b26;
	--conger_ui_color_hover: #fff;
	--conger_ui_font_size: 0.8rem;
	--conger_ui_font_weight: 200;
	--conger_ui_space: 0.2rem;
	--conger_img_width: 12rem;
	--conger_img_hover_scale:1.1;
	--aqualine_overlay_opacity:0.81;
	--aqualine_bg_img: url(../images/decors/bg_img.jpg);
	--aqualine_bg_color: #d3ddbc;
	--aqualine_border_color: #0d0d0d1f;
	--aqualine_page_header_color:#885d30;
	--aqualine_page_header_tshad: 0px 0px 1px #ccdb95;
	--aqualine_page_text_color: #4a3d26de;
	--aqualine_page_text_size:0.9rem;
}
